body {
	font-family: 'Nunito Sans', sans-serif;
  background-image: url("../images/white-waves.png");
}

.title {
	font-family: 'Cardo', serif;
}

.navbar {
	border-bottom: 0.015rem solid rgba(128, 128, 128, 0.5);
}

.container {
	background-color: rgba(20, 20, 20, 0.08);
	border-radius: 10px;
	padding: 1rem;
}